*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin: 20px;
    font-size: 70px;
}
.container{
    width:auto;
}
.image{
    display: flex;
    float: right;
    
}
img{
    width: 400px;
    margin: 10px;
    border-radius: 20px;
}
.article{
    width:auto;

}
h3{
    margin: 10px;
    font-size: 20px;
}
p{
    margin: 5px;
}